@import "../../assets/scss/colours.scss";
@import "../../assets/scss/buttons.scss";
@import "../../assets/scss/game-cards.scss";

.progress {
	background-color: transparent;
	font-size: 1rem;
	height: 30px;
}

.bg-success {
	background-color: $success !important;
	color: white;
}
.bg-secondary {
	background-color: $grey !important;
	color: black;
}
.bg-danger {
	background-color: $danger !important;
	color: white;
}

.card-body.no-hover.ai-choice {
	background: white !important;
	.card-header {
		background: white !important;
	}
}

@media(max-width:520px) {
    a.float-start,
    button.float-end {
        margin-bottom: 10px;
        width: calc( 50% - 10px );
    }
    .fa-6x {
        font-size: 3rem;
    }
    .card-header {
    	align-items: center;
    	display: flex;
        font-size: 1.1rem !important;
        justify-content: center;
        min-height: 70px;
        padding-left: 0;
        padding-right: 0;
    }
}

.nextRound {
	background-color: transparent;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
}

.card.trophy {
	border: 1px solid $grey;
	min-height: 75px;
	.card-body {
		padding: 0;
		.row {
			margin: 0;
			> :first-child {
				align-items: center;
				background-color: $super-light-grey;
				border-radius: .25rem 0 0 .25rem;
				color: $grey;
				display: flex;
				height: 74px;
				justify-content: center;
			}
			> :last-child {
				color: $grey;
			}
		}
	}
	&.trophy-earned {
		border-color: $success;
		.card-body .row > :first-child {
			background-color: $success-shadow;
			color: $success;
		}
		.card-body .row > :last-child {
			color: initial;
		}
	}
}