@import "../assets/scss/colours.scss";

::ng-deep {
	* {
		font-family:  Fira Sans, sans-serif;
	}
	h1, h2, h3, h4, h5, h6 {
		color: $blue;
		font-family:  Ubuntu, sans-serif;
	}

	.bg-blue {
		background-color: $blue;
		color: white;
		h1,h2,h3,h4,h5,h6 {
			color: white;
		}
	}

	.p-toast {
		opacity: 1;
		top: 10px !important;
		.p-toast-message.p-toast-message-success {
			background-color: #E9F1E9;
			border: 3px solid $success;
			border-left-width: 20px;
			color: $success;
			h4 {
				color: $success;
			}
		}
	}

}